.App {
  text-align: center;
}
.box1{
  margin: auto;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
}
.box2{
 margin: auto;
 margin-top: 100px;
 width: fit-content;
}

.column {
  float: left;
  width: auto;
  padding: 5px;
}
img{
  width: 200px;
  height: 200px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
input{
  width: 50%;
}
button{
  background-color: #1C8282; 
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  background-Color: #43C4DE;
  width: 50% ;
   height:30px;
   border: 1px solid black;
   margin-bottom: 20px;
}